* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Spartan;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: url("../images/bg-pattern-top-desktop.svg") -620px no-repeat, url("../images/bg-pattern-bottom-desktop.svg") 100% 100px no-repeat;
  background-size: contain;
}

@media screen and (max-width: 700px) {
  body {
    height: auto;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
    margin: 50px 0 100px;
  }
}

.container .first_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.7fr  2fr;
      grid-template-columns: 1.7fr  2fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .container .first_section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

.container .first_section .description {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

@media screen and (max-width: 700px) {
  .container .first_section .description {
    text-align: center;
  }
}

.container .first_section .description .title {
  color: #502050;
  font-weight: bolder;
  font-size: 45px;
  line-height: 50px;
}

@media screen and (max-width: 700px) {
  .container .first_section .description .title {
    font-size: 30px;
    line-height: 35px;
  }
}

.container .first_section .description .text {
  color: #937b92;
  line-height: 23px;
}

.container .first_section .rated_stars {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .container .first_section .rated_stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .first_section .rated_stars .rated {
  background-color: #f7f2f7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 40px 14px 25px;
}

@media screen and (max-width: 700px) {
  .container .first_section .rated_stars .rated {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.container .first_section .rated_stars .rated:nth-child(1) {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

@media screen and (max-width: 700px) {
  .container .first_section .rated_stars .rated:nth-child(1) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container .first_section .rated_stars .rated:nth-child(2) {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media screen and (max-width: 700px) {
  .container .first_section .rated_stars .rated:nth-child(2) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container .first_section .rated_stars .rated .stars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .container .first_section .rated_stars .rated .stars {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.container .first_section .rated_stars .rated .text {
  font-weight: bolder;
  font-size: 15px;
  color: #502050;
}

@media screen and (max-width: 700px) {
  .container .first_section .rated_stars .rated .text {
    text-align: center;
  }
}

.container .proof_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

@media screen and (max-width: 700px) {
  .container .proof_section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

.container .proof_section .proof {
  background-color: #502050;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  padding: 30px 20px;
}

.container .proof_section .proof:nth-child(2) {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.container .proof_section .proof:nth-child(3) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.container .proof_section .proof .user_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .proof_section .proof .user_infos img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.container .proof_section .proof .user_infos .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .proof_section .proof .user_infos .user .user_name {
  margin-bottom: 3px;
}

.container .proof_section .proof .user_infos .user .verified {
  color: #ee68a4;
}

.container .proof_section .proof .description {
  font-size: 13px;
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */